
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Đăng ký</title>
    <link href="~/Content/SignUp.css" rel="stylesheet" />
</head>
<body>
    <div> 
        <header class="Header">
            <div class="Logo"> LTW Warriors</div>
            
        </header>

        <section>
            <div class="Nen_trang">
                <div class="hop-dangky">
                    <div class="Tieu_de"> Tạo tài khoản</div>
                    <div class="Mo_ta"> Khởi đầu hành trình cùng LTW Warriors ngay hôm nay!</div>

                    <form class="form_dang_ky">
                        <div class="hang-input">
                            <input type="text" placeholder="Họ" class="o-nhap" />
                            <input type="text" placeholder="Ten" class="o-nhap" />
                        </div>

                        <div class="nhan">Ngày sinh</div>
                        <div class="hang-input">
                            <input type="datetime" placeholder="Ngày" class="o-nhap" />
                            <input type="datetime" placeholder="Tháng" class="o-nhap" />
                            <input type="datetime" placeholder="Năm" class="o-nhap" />
                        </div>

                        <div class="hang-input">
                            <input type="email" placeholder="Email" class="o-nhap" />
                        </div>

                        <div class="hang-input">
                            <input type="password" placeholder="Mật khẩu" class="o-nhap" />
                        </div>


                    </form>
                    <ul class="yeu-cau">
                        <li>8-30 ký tự</li>
                        <li>Ít nhất một chữ viết thường</li>
                        <li>Ít nhất một chữ viết hoa</li>
                        <li>Ít nhất một chữ viết số</li>
                        <li>Ít nhất 1 ký tự đặc biệt (vd:!#%^%,v.v)</li>
                    </ul>

                    <foem class="form_dang_ky">
                        <div class="hang-input">
                            <input type="password" placeholder="Xác nhận mật khẩu" class="o-nhap" />
                        </div>

                        <div class="hang-nut">
                            <button type="button" class="nut nut-trang">Trở về</button>
                            <button type="submit" class="nut nut-do">Tiếp tục</button>
                        </div>
                    </foem>

                    

                </div>
            </div>
        </section>
    </div>
</body>
</html>
