
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Đăng nhập</title>
    <link href="~/Content/SignIn.css" rel="stylesheet" />
</head>
<body>
    <div> 
        <header class="Header">
            <div class="Logo">LTW Warriors</div>
        </header>
        <section>
            <div class="Nen_trang">
                <div class="hop-dangky">
                    <div class="Tieu_de">Đăng nhập</div>
                    <div class="Mo_ta">Chào mừng chiến binh trở lại. Sứ mệnh của bạn đang chờ bạn chinh phục!</div>
                    <form class="form_dang_ky">
                        <input type="email" placeholder="Email" class="o-nhap" />
                        <input type="password" placeholder="Mật khẩu" class="o-nhap" />
                    </form>
                    <div class="Mo_ta">Quên mật khẩu</div>
                    <form class="form_dang_ky">
                        <button type="submit" class="nut nut_dang_nhap">Tiếp tục</button>
                        <button type="submit" class="nut nut_dang_ky">Tạo tài khoản</button>
                        <button type="submit" class="nut nut_google">Đăng nhập bằng Google</button>
                    </form>
                </div>
            </div>
        </section>
    </div>
</body>
</html>
