



        <header class="Header">
            <div class="Logo"> LTW Warriors</div>
            <nav class="Nav">
                <ul>
                    <li><a href="#" class="NavText">iPhone</a></li>
                    <li><a href="#" class="NavText">Mac</a></li>
                    <li><a href="#" class="NavText">iPad</a></li>
                    <li><a href="#" class="NavText">Watch</a></li>
                    <li><a href="#" class="NavText">Tai nghe</a></li>
                    <li><a href="#" class="NavText">Phụ kiện</a></li>
                </ul>
                
            </nav>
            <div class="Search">
                <i class="fa-solid fa-magnifying-glass SearchIcon"></i>
                <input type="text" placeholder="Tìm kiếm...">
            </div>
            <div>
                <a href="/Home/XemGioHang">
                    <i class="fas fa-shopping-cart cart-icon"></i>
                </a>  
            </div>

            <div>
                <a href="/Home/SignIn">
                    <i class="fa-regular fa-circle-user cart-icon"></i>
                </a>
                
            </div>
        </header>

