@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/Header.css" rel="stylesheet" />
</head>
<body>
    <div>
        <header class="Header">
            <div class="Logo"> LTW Warriors</div>
            <div class="Nav">
                <ul>
                    <li><a href="#" class="NavText">iPhone</a></li>
                    <li><a href="#" class="NavText">Mac</a></li>
                    <li><a href="#" class="NavText">iPad</a></li>
                    <li><a href="#" class="NavText">Watch</a></li>
                    <li><a href="#" class="NavText">Tai nghe</a></li>
                    <li><a href="#" class="NavText">Phụ kiện</a></li>
                </ul>
                
            </div>
            <div class="Search">
                <i class="fa-solid fa-magnifying-glass SearchIcon"></i>
                <input type="text" placeholder="Tìm kiếm...">
            </div>
            <div><i class="fas fa-shopping-cart cart-icon"></i></div>
            <div><i class="fa-regular fa-circle-user cart-icon"></i></div>
        </header>
    </div>
</body>
</html>
